body{
  background: pink;
}

body {
	font-family: avenir, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: blue;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}

.nav h1 {
  padding-left: 20px;
}
