body{
  background: pink;
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;}
#content {overflow: auto;}
#nav, #feature, #footer {
  margin: 1%;}
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;}

  @media screen and (max-width: 800px) {
    .column1, .column2, .column3 {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

.column3 {margin-right: 0%;}
li {
  display: inline;
  padding: 0.5em;}
#nav, #footer {
  background-color: white;
  padding: 0.5em 0;}
#feature, .article {
  height: 10em;
  margin-bottem: lem;
  background-color: white}

a:hover {
    background-color: pink;


    img{
      width:100%;
      max-width:100%;
    }

    .image-wrapper{
      position: relative;
      display: block;
      width:200px;
    }
